page {
  background: #eee;
  .connect-wrap {
    margin-top: 20px;
    padding: 30px;
    box-sizing: border-box;
    background: #fff;
    .item {
      display: block;
      margin-bottom: 20px;
      font-size: 28px;
      color: rgb(102,102,102)
    }
  }
}