.icon {
  background: url(http://jic.makepolo.net/img/wei/wgw_web/icon.png) no-repeat;
  width: 80px;
  height: 80px;
  background-size: 100% auto;
}
.column-icon-0 {
  background-position: 0px 0px;
}
.column-icon-1 {
  background-position: 0px -160px;
}
.column-icon-2 {
  background-position: 0px -320px;
}
.column-icon-3 {
  background-position: 0px -80px;
}
.column-icon-4 {
  background-position: 0px -1410px;
}
.column-icon-5 {
  background-position: 0px -400px;
}