$color:#f24400;
.mes-box {
  width: 100%;
  justify-content: center;
  .mes-wrap {
    width: 100%;
    height: 430px;
    padding: 20px 30px;
    box-sizing: border-box;
    background: url(http://jic.makepolo.net/img/wei/wgw_web/card_bg01.png) no-repeat;
    background-size: 100% 100%;
    border: 6px solid #e1e1e1;
    .company {
      font-size: 32px;
      color: $color;
      display: block;
    }
    .title {
      font-size: 60px;
      color: $color;
    }
    .item-wrap {
      border-top: 4px solid #e3e3e3;
      padding-top: 20px;  
      .item {
        display: block;
        font-size: 26px;
        color: #585858;
        margin-bottom: 10px;
      }
    }
  }
}
